<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="METRICS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/metrcs.json.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{ &quot;type&quot;: &quot;METRIC&quot;, &quot;datetime&quot;: &quot;%d{yyyy-MM-dd'T'HH:mm:ss.SSS}&quot;, &quot;message&quot;: %msg }%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/metrics-%d{yyyy-MM-dd}.json.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="EXCEPTIONS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/exceptions.json.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{ &quot;type&quot;: &quot;EXCEPTION&quot;, &quot;datetime&quot;: &quot;%d{yyyy-MM-dd'T'HH:mm:ss.SSS}&quot;, &quot;message&quot;: %msg }%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/exceptions-%d{yyyy-MM-dd}.json.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="uk.thepragmaticdev" level="INFO" additivity="false">
        <appender-ref ref="APP_LOG" />
    </logger>

    <logger name="uk.thepragmaticdev.api.aspect" level="INFO" additivity="false">
        <appender-ref ref="METRICS_LOG" />
    </logger>

    <logger name="uk.thepragmaticdev.api.controller.advice.RestResponseExceptionHandler" level="FATAL" additivity="false">
        <appender-ref ref="EXCEPTIONS_LOG" />
    </logger>

    <logger name="uk.thepragmaticdev.security.JwtTokenFilter" level="FATAL" additivity="false">
        <appender-ref ref="EXCEPTIONS_LOG" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>